body {
    color: white;
    background-color: #222222;
    font-family: "Audiowide", sans-serif;
    margin: auto;
    text-align: center;
    padding: 50 100;
}

html {
    margin:    0 auto;
    max-width: 1400px;
}

h1 {
    font-size: 5.9vw;
}

h2 {
    font-size: 3.0vh;
}

p {
    font-size: 2vmin;
}